# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Environments
.venv/
env/
venv/
.env

# Data (keep only small samples)
data/*
!data/README.md

# Reports cache
reports/*.log
